$card-padding: 2.5rem;

.wj-card {
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
    border-radius: 1rem;
    overflow: hidden;

    &__heading{
        font-size: 1.8rem;
        color: $grey-dark;
        font-weight: normal;
    }

    &__header {
        border-bottom: 1px solid $light;
        padding: 1.5rem $card-padding;
    }

    &__footer {
        border-top: 1px solid $light;
        padding: 1.5rem 2rem;
    }

    &__body {
        padding: $card-padding;
    }
}