.wj-dashboard {
    &__header {
        position: fixed;
        left: $lg-padding;
        top: $lg-padding;
        height: 7rem;
        width: calc(100% - 2 * #{$lg-padding});
        @include flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 1.5rem;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .07);
        padding: 1.5rem 2.5rem;
        z-index: 50;
        // position: relative;

        @include sm {
            width: calc(100% - 2 * #{$sm-padding});
            padding: 1.5rem;
            left: $sm-padding;
            top: $sm-padding;
        }

        @include md {
            width: calc(100% - 2 * #{$md-padding});
            padding: 1.5rem 2rem;
            left: $md-padding;
            top: $md-padding;
        }
    }

    &__nav-items {
        @include flex;

        @include sm {
            flex-direction: column;
        }
    }

    &__logo {
        background: $dark;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        @include flex;
        justify-content: center;
        padding: 1rem;
        position: relative;
        z-index: 100;

        svg {
            height: 100%;
            // width;
        }
    }

    &__nav-item {
        padding: 0 .3rem;
        margin: 0 .5rem;

        @include sm {
            margin: .7rem auto;
            padding: .3rem;
        }
    }

    &__nav-link {
        @include flex;
        color: lighten($color: $grey, $amount: 15);
        transition: .2s ease-in-out all;

        .feather {
            height: 2rem;
            width: 2rem;
            margin-right: .5rem;
        }

        &.active,
        &:hover {
            color: $primary;
        }
    }

    &__nav__user {
        @include flex;

        &:hover>.user-icon {
            background-color: $primary;
            color: #fff;
        }

        .user-icon {
            background-color: $light;
            height: 2.5rem;
            width: 2.5rem;
            padding: .5rem;
            @include flex;
            justify-content: center;
            border-radius: 50%;
            margin-right: .5rem;
            transition: .2s ease-in-out all;

            .feather {
                width: 1.5rem;
                height: 1.5rem;
                margin: 0;
            }
        }

        .caret {
            width: 1.4rem;
            height: 1.4rem;
            margin-top: .2rem;
            margin-left: .2rem;
        }
    }

    &__nav {
        @include sm {
            position: absolute;
            width: 100%;
            padding: 5rem 2rem;
            background: #fff;
            top: 0;
            left: 0;
            box-shadow: 0 5px 20px rgba(0, 0, 0, .07);
            border-radius: 1.5rem;
            overflow: hidden;
            height: 0;
            padding: 0;
            opacity: 0;
            z-index: 90;
            transform: scale(0);
        }

    }



}


#wj-mobile-nav__checkbox {
    display: none;

    &:checked {
        &~.wj-mobile-nav__label>.wj-mobile-nav__toggle {
            background: transparent;

            &::before,
            &::after {
                top: 0;
                background: $primary;
                left: 0px;
                // margin-left: 0;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        &~.wj-dashboard__nav {
            transform: scale(1);
            opacity: 1;
            overflow: unset;
            height: auto;
            padding: 5rem 2rem;
            animation: slide-down .6s ease-in-out forwards;
        }
    }
}


.wj-mobile-nav__label:hover>.wj-mobile-nav__toggle {
    background-color: $primary;

    &::before,
    &::after {
        background-color: $primary;
    }
}



.wj-mobile-nav__toggle {
    height: 2px;
    width: 16px;
    // margin-left: 6px;
    // text-align: right;
    background-color: $grey;
    position: relative;
    transition: background 200ms ease-in-out;
    z-index: 100;

    @include not-sm {
        display: none;
    }

    &::before,
    &::after {
        content: "";
        height: 2px;
        width: 22px;
        margin-left: -6px;
        background-color: $grey;
        position: absolute;
        transform: rotate(0);
        transition: all 200ms ease-in-out;
    }

    &::before {
        top: -7px;
    }

    &::after {
        top: 7px;
    }
}