$primary: #1dbf69;
$accent: rgb(254, 212, 48);
$light: #F8F8F8;
$dark: #041705;
$grey-dark: #4d4d4d;
$grey: #888;
$grey-light: #F3F3F3;
$error: #FF4136;

$lg-padding: 3.5rem;
$md-padding: 3rem;
$sm-padding: 2rem;