// FLEX CLASSES
.d-flex{
    @include flex;
}

.justify-end{
    justify-content: flex-end !important;
}

.justify-between{
    justify-content:space-between !important;
}

.justify-center{
    justify-content: center !important;
}

.justify-around{
    justify-content: space-around !important;
}

.justify-start{
    justify-content: flex-start !important;
}


.align-center{
    align-items: center !important;
}

.align-end{
    align-items: flex-end !important;
}

.align-start{
    align-items: flex-start !important;
}

.align-stretch{
    align-items: stretch !important;
}

.flex-column{
    flex-direction: column !important;
}

.flex-row{
    flex-direction: row !important;
}