//AUTH STYLES
.wj-auth {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2.5rem;
    column-gap: 2.5rem;
    overflow: auto;

    @include md {
        grid-template-columns: 100%;
        height: 100%;
        padding-top: 3rem;
        padding-bottom: 10rem;
    }

    @include sm {
        grid-template-columns: 100%;
        height: 100%;
        padding: 1.5rem;
        padding-top: 3rem;
        padding-bottom: 10rem;
    }

    &__left {
        color: $light;
        background: url('https://www.wejapa.com/assets/images/svg/map.svg'), $dark;
        height: 100%;
        border-radius: 2rem;
        background-position: 50% 50%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5rem;
        box-shadow: 0 3px 25px rgba(0, 0, 0, .07);

        &__actions {
            margin-top: 5rem;

            a {
                margin: .5rem;
            }
        }

        @include sm {
            display: none;
        }

        @include md {
            display: none;
        }
    }


    &__main {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: auto;
        justify-content: center;
        justify-items: center;
        // align-items: center;
        // align-content: center;
        // height: 100%;
        // padding-top: 3rem;
        // padding-bottom: 10rem;
    }

    &__logo {
        background-color: $dark;
        padding: 1.4rem;
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
        text-align: center;
        @include flex;
        justify-content: center;
        margin: 1.5rem auto;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    &__form {
        max-width: 60rem;
        width: 100%;

        &--login{
            max-width: 45rem;
        }
    }

}

.pass-request{
    background: $light;
    padding: 1.5rem;
    border-radius: 1rem;
    @include flex;

    svg{
        height: 5.6rem;
        width: 5.6rem;
        margin-right: 1rem;
    }

    &__title{
        font-size: 1.6rem;
        font-weight: 600;
        color: $dark;
        text-align: left;
        margin-bottom: .5rem;
    }
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke: $primary;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 3;
    stroke: $primary;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px $primary;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px transparent;
    }
}